body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u167 {
  position:absolute;
  left:2px;
  top:329px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u168 {
  position:absolute;
  left:204px;
  top:144px;
  width:65px;
  height:22px;
}
#u169 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:64px;
}
#u170 {
  position:absolute;
  left:0px;
  top:55px;
  width:177px;
  height:64px;
}
#u171 {
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u172 {
  position:absolute;
  left:0px;
  top:118px;
  width:177px;
  height:68px;
}
#u173 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
}
#u174 {
  position:absolute;
  left:0px;
  top:186px;
  width:177px;
  height:67px;
}
#u175 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:76px;
}
#u176 {
  position:absolute;
  left:0px;
  top:253px;
  width:177px;
  height:76px;
}
#u177 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u178 {
  position:absolute;
  left:204px;
  top:104px;
  width:65px;
  height:22px;
}
#u179 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u180 {
  position:absolute;
  left:282px;
  top:104px;
  width:65px;
  height:22px;
}
#u181 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:27px;
}
#u182 {
  position:absolute;
  left:187px;
  top:13px;
  width:198px;
  height:27px;
}
#u183 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
