body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u211 {
  position:absolute;
  left:2px;
  top:329px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:64px;
}
#u212 {
  position:absolute;
  left:0px;
  top:55px;
  width:177px;
  height:64px;
}
#u213 {
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u214 {
  position:absolute;
  left:0px;
  top:118px;
  width:177px;
  height:68px;
}
#u215 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
}
#u216 {
  position:absolute;
  left:0px;
  top:186px;
  width:177px;
  height:67px;
}
#u217 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:66px;
}
#u218 {
  position:absolute;
  left:0px;
  top:253px;
  width:177px;
  height:66px;
}
#u219 {
  position:absolute;
  left:2px;
  top:25px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u220 {
  position:absolute;
  left:204px;
  top:104px;
  width:65px;
  height:22px;
}
#u221 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u222 {
  position:absolute;
  left:282px;
  top:104px;
  width:65px;
  height:22px;
}
#u223 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:27px;
}
#u224 {
  position:absolute;
  left:187px;
  top:13px;
  width:198px;
  height:27px;
}
#u225 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
