body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u186 {
  position:absolute;
  left:2px;
  top:330px;
  width:996px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u187 {
  position:absolute;
  left:868px;
  top:533px;
  width:65px;
  height:22px;
}
#u188 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:64px;
}
#u189 {
  position:absolute;
  left:0px;
  top:55px;
  width:177px;
  height:64px;
}
#u190 {
  position:absolute;
  left:2px;
  top:24px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:68px;
}
#u191 {
  position:absolute;
  left:0px;
  top:118px;
  width:177px;
  height:68px;
}
#u192 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:67px;
}
#u193 {
  position:absolute;
  left:0px;
  top:186px;
  width:177px;
  height:67px;
}
#u194 {
  position:absolute;
  left:2px;
  top:26px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:76px;
}
#u195 {
  position:absolute;
  left:0px;
  top:253px;
  width:177px;
  height:76px;
}
#u196 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:27px;
}
#u197 {
  position:absolute;
  left:187px;
  top:13px;
  width:198px;
  height:27px;
}
#u198 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
