body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u60 {
  position:absolute;
  left:2px;
  top:329px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u61 {
  position:absolute;
  left:202px;
  top:108px;
  width:66px;
  height:17px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u63 {
  position:absolute;
  left:291px;
  top:108px;
  width:66px;
  height:17px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
}
#u65 {
  position:absolute;
  left:202px;
  top:142px;
  width:56px;
  height:17px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:66px;
}
#u67 {
  position:absolute;
  left:0px;
  top:53px;
  width:177px;
  height:66px;
}
#u68 {
  position:absolute;
  left:2px;
  top:25px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:61px;
}
#u69 {
  position:absolute;
  left:0px;
  top:131px;
  width:177px;
  height:61px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:61px;
}
#u71 {
  position:absolute;
  left:0px;
  top:207px;
  width:177px;
  height:61px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:61px;
}
#u73 {
  position:absolute;
  left:0px;
  top:282px;
  width:177px;
  height:61px;
}
#u74 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:27px;
}
#u75 {
  position:absolute;
  left:187px;
  top:13px;
  width:198px;
  height:27px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
