body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:674px;
}
#u17 {
  position:absolute;
  left:2px;
  top:329px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:66px;
}
#u18 {
  position:absolute;
  left:0px;
  top:52px;
  width:177px;
  height:66px;
}
#u19 {
  position:absolute;
  left:2px;
  top:25px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:61px;
}
#u20 {
  position:absolute;
  left:0px;
  top:131px;
  width:177px;
  height:61px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:61px;
}
#u22 {
  position:absolute;
  left:0px;
  top:206px;
  width:177px;
  height:61px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:61px;
}
#u24 {
  position:absolute;
  left:0px;
  top:282px;
  width:177px;
  height:61px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:10px;
}
#u26 {
  position:absolute;
  left:349px;
  top:303px;
  width:112px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u28 {
  position:absolute;
  left:349px;
  top:316px;
  width:174px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:10px;
}
#u30 {
  position:absolute;
  left:354px;
  top:372px;
  width:112px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u32 {
  position:absolute;
  left:349px;
  top:453px;
  width:174px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:10px;
}
#u34 {
  position:absolute;
  left:349px;
  top:441px;
  width:112px;
  height:10px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u36 {
  position:absolute;
  left:349px;
  top:385px;
  width:174px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u39 {
  position:absolute;
  left:349px;
  top:522px;
  width:174px;
  height:10px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-3px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:10px;
}
#u41 {
  position:absolute;
  left:349px;
  top:509px;
  width:112px;
  height:10px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u44 {
  position:absolute;
  left:349px;
  top:592px;
  width:174px;
  height:10px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-3px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:10px;
}
#u46 {
  position:absolute;
  left:349px;
  top:579px;
  width:112px;
  height:10px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:10px;
}
#u49 {
  position:absolute;
  left:349px;
  top:660px;
  width:174px;
  height:10px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-3px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:10px;
}
#u51 {
  position:absolute;
  left:349px;
  top:647px;
  width:112px;
  height:10px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-3px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u53 {
  position:absolute;
  left:202px;
  top:108px;
  width:66px;
  height:17px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u55 {
  position:absolute;
  left:284px;
  top:108px;
  width:66px;
  height:17px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:27px;
}
#u57 {
  position:absolute;
  left:187px;
  top:13px;
  width:198px;
  height:27px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
